<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        [label]="'Create' | translate"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openCreate()"
      ></button>
    </ng-template>
  </p-toolbar>

  <!-- TABLE  -->
  <p-table
    #dt
    [value]="languages"
    dataKey="id"
    [globalFilterFields]="['id', 'name', 'code']"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    responsiveLayout="scroll"
    [rowHover]="true"
    [loading]="isLoading"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">{{ 'Languages' | translate }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target)!.value, 'contains')"
            [placeholder]="'Search' | translate"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          <div class="flex justify-content-between align-items-center">
            Id
            <div>
              <p-columnFilter
                type="text"
                field="id"
                display="menu"
              ></p-columnFilter>
              <p-sortIcon field="id"></p-sortIcon>
            </div>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center">
            {{ 'Name' | translate }}
            <div>
              <p-columnFilter
                type="text"
                field="name"
                display="menu"
              ></p-columnFilter>
              <p-sortIcon field="name"></p-sortIcon>
            </div>
          </div>
        </th>
        <th pSortableColumn="code">
          <div class="flex justify-content-between align-items-center">
            {{ 'Code' | translate }}
            <div>
              <p-columnFilter
                type="text"
                field="code"
                display="menu"
              ></p-columnFilter>
              <p-sortIcon field="code"></p-sortIcon>
            </div>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-language>
      <tr>
        <td>{{ language.id }}</td>
        <td>
          {{ language.name }}
        </td>
        <td>{{ language.code }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="openEdit(language)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="confirmDelete(language)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ languages ? languages.length : 0 }} languages.
      </div>
    </ng-template>
  </p-table>
</div>

<!-- FORM -->
<p-dialog
  [(visible)]="isShowFormDialog"
  [style]="{width: '450px'}"
  [header]="languageToUpdate ? ('Update' | translate) : ('Create' | translate)"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="languageForm">
      <div class="field">
        <label for="name">{{ 'Name' | translate }}</label>
        <input
          type="text"
          pInputText
          id="name"
          required
          autofocus
          formControlName="name"
        />
        <small
          class="p-error"
          *ngIf="
            languageForm.get('name')!.touched &&
            languageForm.get('name')!.invalid
          "
          >{{ 'Name' | translate }} {{ 'IsRequired.' | translate }}</small
        >
      </div>
      <div class="field">
        <label for="code">{{ 'Code' | translate }}</label>
        <input
          type="text"
          pInputText
          id="code"
          required
          autofocus
          formControlName="code"
        />
        <small
          class="p-error"
          *ngIf="
            languageForm.get('code')!.touched &&
            languageForm.get('code')!.invalid
          "
          >{{ 'Code' | translate }} {{ 'IsRequired.' | translate }}</small
        >
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
      [disabled]="isSaving"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
      [loading]="isSaving"
    ></button>
  </ng-template>
</p-dialog>
